!!! 5
%html
  %head
    %title Pinterest
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %nav.navber.navber-default
      .container
        .navber-header
          .navbar-brand
            .navbar-brand_row
              = link_to root_path do
                %i.fa.fa-pinterest.fa-2x
                %p ホームフィード

          - if user_signed_in?
            %ul.nav.navbar-nav.navbar-right
              %li.navbar-right_btn
                = link_to root_path do
                  %i.fa.fa-compass.fa-2x
                  %p ピックアップ
              %li.navbar-right_btn
                = link_to root_path do
                  %i.fa.fa-user.fa-2x
                  %p マイページ
              %li.navbar-right_btn
                = link_to root_path do
                  %i.fa.fa-commenting-o.fa-2x
                  %p お知らせ
              %li.navbar-right_btn
                = link_to new_pin_path do
                  %i.fa.fa-pencil-square-o.fa-2x
                  %p 投稿

          - else
            %ul.nav.navbar-nav.navbar-right
              %li= link_to "Sign Up", new_user_registration_path
              %li= link_to "Sign In", new_user_session_path
      .row
        -flash.each do |name,msg|
          = content_tag :div, msg, class: "alert alert-info"

        = yield
